.bordered-table {
    border-collapse: collapse;
}

.bordered-table td, .bordered-table th {
    border: 1px solid black;
    padding: 8px;
    width: 58px;
    height: 58px;
}

.bordered-table th {
    background-color: #f2f2f2;
}

.floor {
    background-image: url('../static/img/piece.png');
    background-size: cover;
}


.wall {
    background-image: url('../static/img/brique.png');
    background-size: cover;
}


.chest {
    background-image: url('../static/img/lucky.png');
    background-size: cover;
}

.monster {
    background-image: url('../static/img/monstre.png');
    background-size: cover;
}