<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DungeonsAndDiagrams</title>
    <link href="../static/game.css" rel="stylesheet">
    <script src="../static/game.js" DEFER></script>
</head>
<body>
<h1 id="titre"></h1>
<div id="timer">Temps : 00:00</div>

<table class="bordered-table">
    <tr>
        <td></td>
        {% for i in range(8) %}
            <td id="col-{{i}}"></td>
        {% endfor %}

    </tr>
    {% for i in range(8) %}
        <tr>
            <td id="row-{{i}}"></td>
            {% for j in range(8) %}
                <td id="{{i}};{{j}}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<button id="submitlvl" style="display:none;">Suivant</button>

</body>
</html>