<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DungeonsAndDiagrams</title>
</head>
<body>
<form action="/submitregister" method="POST">
    <h1>Register from</h1>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirm_password">Confirm password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>

    <button  type="submit">Register</button>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</form>
<p>Déjà inscrit ? <a href="/">Connectez-vous ici</a></p>
</body>
</html>